body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 300px;
    width:100%;
    background-image: url(../media/logos.png);
    background-size: 200px 200px;
    background-repeat: repeat;
}
#game {
    text-align: center;
    line-height: 48px;
    background-image: url(../media/BaseballBat.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
    color: white;
    border: solid rgb(6, 102, 247) 5px;
    height: 700px;
    width: 50%;
    margin: auto;
}
#letters {
    display: inline-block;
    color: white;
    border: solid 3px white;
    background-color: blue;
    letter-spacing: 30px;
    font-size: 24px;
    padding:10px;
    margin: 10px;
}

h2 {
    margin-top: 50px;
    font-size: 150px;
    font: impact;
    color: rgb(6, 102, 247);
}
h3 {font-family: "Brush Script MT";
    padding-top: 28px;
	font-size: 80px;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
    color: rgb(252, 18, 10);
    transform: rotateZ(-16deg); /* Standard syntax */
    text-align: right;
}
.mlb {
    max-width:70px;
    max-height: 60-x;
}

    #start {
        background-color: blue;
        border: solid white 2px;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: relative;
        bottom: 20px;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
        transition: .5s;
}
#start:hover {
    background-color: white;
    color: blue;
    border: solid blue 5px;
}

#words {
    color: rgb(244, 247, 246);
    position: relative;
    bottom: 100px;
    font-size: 40px;
}

p {
    font-size:30px;
    color: black;
}

#x {
    position: relative;
    bottom: 20px;
    color: red;
}

#guessesLeft {
    color:white;
    position: relative;
    bottom: 25px;
}

.correct-letter {
    color: blue;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.unguessed-letter {
    color: blue;
    margin: 15px;
    padding: 15px;
}

#usedLetters {
    color: red;
}
